@import "app.variables.scss";
@import "app.mixins.scss";



/*Définition des éléments basiques du template*/
.typecmd_nouv
{
	background-color: $color_1 !important;
}

.typecmd_val
{
	background-color: $color_2 !important;
}

.typecmd_ann
{
	background-color: $color_3 !important;
}

.typecmd_reg
{
	background-color: $color_4 !important;
}

.colorcmd_nouv
{
	color: $color_1;
}

.colorcmd_val
{
	color: $color_2;
}

.colorcmd_ann
{
	color: $color_3;
}

.colorcmd_reg
{
	color: $color_4;
}


/****COUVERTURE TYPE CLIENT**/
.introduction
{
	float: left;
	padding: 0;
	overflow: hidden;
	position: relative;
}


.text_logo_intro .intro-content
{
	margin-top: 40%;
}


.intro-content
{
	font-family: 'Playfair Display', serif;
	position: relative;
	z-index: 10;
	display: table;
	margin: 0 auto;
}

.text-capitalize
{
	text-transform: capitalize;
}


.intro-content span
{
	/*color: rgba(132, 20, 51, 0.79);*/
	font-size: 135px;
	font-weight: 700;
	line-height: 0px;
	letter-spacing: 1px;

	/*background-color: rgba(132, 20, 51, 0.79);*/
	/*box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.5);*/
}


.intro-content span
{
	font-size: 135px;
	font-weight: 700;
	line-height: 0px;
	letter-spacing: 1px;
}

.intro-content h1
{
	display: block;
	font-family: 'Pacifico';
	padding-left: 50px;
	margin-bottom: 80px;
	font-size: 35px;
	font-weight: 700;
}

.intro-content .slogan-text
{
	font-weight: 400;
	font-size: 25px;
	padding-left: 21px;
}


/***POUR LA PAGE COMMANDE***/
.panel .cmd
{
	height:60px;
}

.cmd .col-md-9 span .datetime
{
	float: right;margin-top: 6px;
}

.cmd .col-md-9 span .nbreplats
{
	padding-top: 13px;
}

.cmd .col-md-9 span .montanttotal
{
	float: right;
	margin-top: -6px;
}

/***COMMANDE***/

.detailscmd
{
	display: none;
	margin:-61px 0px 0px 100%;
	position: inherit;
	z-index:4;
	max-height:200px;
	float: left;
	padding: 0 15px;
	position: relative;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 5px;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.12);

}

.detailscmd-bas
{
	/*display: none;*/
	margin:0px 0px 0px 0px;
	position: relative;
	z-index:4;
	max-height:500px;
	float: left;
	padding: 0 15px;
	position: relative;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 5px;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.12);

}


.detailscmd-bas-table
{
	margin:0px 0px 0px 0px;
	position: relative;
	z-index:4;
	max-height:270px;
	float: left;
	padding: 0 15px;
	position: relative;
}


.detailscmd-inv
{
	display: none;
	margin:-61px 100% 0px 0px;
	position: relative;
	z-index:4;
	max-height:300px;
	float: right;
	padding: 0 15px;
	position: relative;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 5px;
	border-left: 1px solid rgba(0, 0, 0, 0.12);
	box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.12);
}

.tableid
{
	height:60px;
	padding:0px;
	margin-top:0px;
	margin-left: -0px;
}

.numtablecmd
{
	margin-top:12px !important;
}


.element
{
	margin-right:10px;
}







.chat-item
{
	@include clearfix();
	.arrow
	{

		top: 20px;
		&.right
		{
			&:after
			{
				border-left-color: $brand-light;
			}
		}
	}
	.chat-body
	{
		position: relative;
		margin-left: 45px;
		min-height: 30px;
		.panel
		{
			margin: 0 -1px;
		}
	}
	&.right
	{
		.chat-body
		{
			margin-left: 0;
			margin-right: 45px;
		}
	}
	&+.chat-item
	{
		margin-top: 15px;
	}
}

.comment-list
{
	position: relative;
	.comment-item
	{
		margin-top: 0;
		position: relative;
		> .thumb-sm
		{
			width: 36px;
		}
		.arrow.left
		{
			top: 20px;
			left: 39px;
		}
		.comment-body
		{
			margin-left: 46px;
		}
		.panel-body
		{
			padding: 10px 15px;
		}
		.panel-heading, .panel-footer
		{
			position: relative;
			font-size: 12px;
			//background-color: #fff;
		}
	}

	.comment-reply
	{
		margin-left: 46px
	}

	&:before
	{
		//position: absolute;
		//top: 0;
		//bottom: 35px;
		//left: 18px;
		//width: 1px;
		//background: #e0e4e8;
		//content: '';
	}
}

/*Timeline*/
.timeline
{
	display: table;
	width: 100%;
	border-spacing: 0;
	table-layout: fixed;
	position: relative;
	border-collapse: collapse;
	&:before
	{
		content: "";
		width: 1px;
		margin-left: -1px;
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 30px;
		background-color: #ddd;
		z-index: 0;
	}
	.timeline-date
	{
		position: absolute;
		width: 150px;
		left: -200px;
		top: 50%;
		margin-top:-9px;
		text-align: right;
	}
	.timeline-icon
	{
		position: absolute;
		left: -41px;
		top: -2px;
		top: 50%;
		margin-top: -15px;
	}
	.time-icon
	{
		width: 30px;
		height: 30px;
		line-height: 30px;
		display:inline-block !important;
		z-index: 10;
		border-radius: 20px;
		text-align: center;
		&:before
		{
			font-size: 14px;
			margin-top: 5px;
		}
	}
}

.timeline-item
{
	display: table-row;
	&:before,
	&.alt:after
	{
		content: "";
		display: block;
		width: 50%;
	}
	&.alt
	{
		text-align: right;
		&:before
		{
			display: none;
		}
		.panel
		{
			margin-right: 25px;
			margin-left: 0
		}
		.timeline-date
		{
			left: auto;
			right: -200px;
			text-align: left;
		}
		.timeline-icon
		{
			left: auto;
			right: -41px;
		}
	}
	&.active
	{
		display: table-caption;
		text-align: center;
		&:before
		{
			width: 1%;
		}
		.timeline-caption
		{
			display: inline-block;
			width: auto;
			h5 span
			{
				color: #fff;
			}
		}
		.panel
		{
			margin-left: 0;
		}
		.timeline-date, .timeline-icon
		{
			position: static;
			margin-bottom:10px;
			display: inline-block;
			width: auto;
		}
	}

}

.timeline-caption
{
	display: table-cell;
	vertical-align: top;
	width: 50%;
	.panel
	{
		position: relative;
		margin-left: 25px;
		position: relative;
		text-align: left;
	}
	h5
	{
		margin:0;
		span
		{
			display: block;
			color: #999;
			margin-bottom: 4px;
			font-size: 12px
		}
	}
	p
	{
		font-size: 12px;
		margin-bottom: 0;
		margin-top: 10px;
	}
}

.timeline-footer
{
	display: table-row;
	a
	{
		display: table-cell;
		text-align: right;
	}
	.time-icon
	{
		margin-right: -15px;
		z-index: 5;
	}
}

.post-item
{
	border-radius:3px;
	background-color:#fff;
	@include box-shadow(0px 1px 2px rgba(0,0,0,0.15));
	margin-bottom:15px;
	.post-title
	{
		margin-top:0;
	}
	.post-media
	{

		text-align:center;
		img
		{
			border-radius: 3px 3px 0 0;
		}
	}
}